body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.menu {
    background-color: #f2f2f2;
    overflow: hidden;
}
.menu a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.menu a:hover {
    background-color: #ddd;
    color: #333;
    color: white;
}
.search{
    float: right;
    padding-top: 15px;
    padding: 14px 16px;

}
.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.down {
    background-color: #ddd;
    color: #333;
    text-align: center;
    margin-top: 0%;
}
.down1{
    text-align:left  ;
    padding-top: 10px;
}
.down ul li{
    list-style: none;
    vertical-align: middle ;

    display: inline-block;
    margin-left: 50px;
}

.menu ul{
    list-style: none;
}
.menu ul li{
    display: inline-block;
    margin-top: 10px;
}
.menu ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.logo{
    margin-left: 40px;
}

.menu ul li{
    position: relative;
}
.menusp{
    position: absolute;
    background-color: #ddd;
    width: 250px;
    height: auto;
    display: none;
}
.menusp ul{
    display: flex;
    flex-direction: column;
}
.menusp ul li:hover a{
    color: rgb(3, 3, 3);
}
.menusp ul li:hover{
    background: none;   
}
.menu ul li:hover .menusp {
    display: block;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ------------------------------------------------------------- */
.introduction {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }
  
  .maps {
    flex-basis: 40%;
    margin-right: 50px;
  }
  
  .maps{
    width: 100%;
  }
  
  .introduction-text {
    flex-basis: 50%;
  }
  
  .introduction-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .introduction-text p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  
  .btn-shop-now {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .btn-shop-now:hover {
    background-color: #555;
  }

  